* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans";
}

html, body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-bottom: 20px;
}

@font-face {
  font-family: GillS;
  src: url(fonts/GillSans.ttc);
}
@font-face {
  font-family: Proxima;
  src: url(fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
.tour header {
  max-width: 981px;
  margin: 20px auto 0 auto;
  height: 200px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tours-header.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tour header span {
  text-transform: uppercase;
  color: #fff;
  font-family: Proxima;
  font-size: 60px;
}
.tour .tours {
  max-width: 818px;
  margin: 48px auto 0 auto;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tour .tours .tourPromo {
  width: 236px;
  height: 304px;
  background-color: burlywood;
  margin-bottom: 55px;
}
.tour .tours .tourPromo .promoBtn {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #79ADDC;
  text-align: center;
}

@media all and (max-width: 1200px) {
  .tour .tours {
    flex-direction: column;
    align-items: center;
  }
}
.nav {
  max-width: 980px;
  height: 60px;
  border-bottom: black solid 3px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav .logo {
  width: 92px;
  height: 42px;
  align-self: center;
}
.nav .links {
  width: 400px;
  height: 42px;
  font-family: "GillSans";
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .links div.pipe {
  color: #79ADDC;
  font-size: 20px;
}
.nav .links div a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  margin: auto;
  text-transform: lowercase;
}

@media only screen and (max-width: 1060px) {
  .nav {
    max-width: 980px;
    height: 60px;
    border-bottom: black solid 3px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .nav .logo {
    width: 92px;
    height: 42px;
    align-self: center;
  }

  .nav .links {
    width: 400px;
    height: 42px;
    font-family: GillSans;
    align-self: center;
    justify-content: space-between;
    align-items: center;
  }

  .nav .links div.pipe {
    color: #79ADDC;
    font-size: 20px;
  }

  .nav .links div a {
    font-family: "GillSans";
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin: 0 auto;
    text-transform: lowercase;
  }
}
footer {
  max-width: 1280px;
  height: 100px;
  background-color: #79ADDC;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 120px;
  margin: 285px auto 0px auto;
  margin-bottom: 0;
}
footer .logo {
  width: 92px;
  height: 42px;
  align-self: center;
}
footer .copyright {
  font-size: 12px;
  align-self: center;
  color: #fff;
}
footer .socialmedia {
  display: flex;
  justify-content: space-between;
  align-self: center;
  color: #fff;
}

@media only screen and (max-width: 1060px) {
  footer {
    max-width: 100%;
    height: 100px;
    background-color: #79ADDC;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
  }

  footer .logo {
    width: 92px;
    height: 42px;
    align-self: center;
  }

  footer .copyright {
    font-size: 12px;
    align-self: center;
    color: #fff;
  }

  footer .socialmedia {
    display: flex;
    justify-content: space-between;
    align-self: center;
    color: #fff;
    justify-content: space-between;
  }
}
.hero {
  max-width: 980px;
  height: 500px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tours-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding-top: 20px;
}
.hero .bannertext {
  text-align: center;
  font-size: 50px;
  color: white;
  padding-top: 80px;
}
.hero .lorem {
  text-align: center;
  color: white;
}
.hero .readmore {
  background-color: #79ADDC;
  padding: 15px 30px;
  width: 150px;
  text-align: center;
  left: 565px;
  top: 50px;
  color: white;
  margin: 0 auto;
}